body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  background-color: #FFF8DC;
}

/** HEADER **/
#header-nav {
  padding-bottom: 30px;
  background-color: #B8860B;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Fira Sans', sans-serif;
  padding-top: 5px;
  padding-left: -20px;
  text-align: left;
  color:  white;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 2px 1px black;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { 
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}
#main-content h1{
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 0px 1px #222;
  margin-top: 0;
  margin-bottom: 30px;
  color: #8B4513;

}
#collapsable-nav{
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #FFEFD5;
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
}
#nav-list a:hover {
  background: #FF7F50;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: 0px;
}
/* END HEADER */



#menu-tile, #specials-tile, #map-tile {
  width: 100%;
  height: 1000px;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  background-color: #FFFFFF;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 2px 10px 2px black;
}


#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
#content-text{
  position: absolute;
  margin-top: 60px;
  margin-left: 20px;
  width: 90%;
  font-size : 20px;

}
/* END HOME PAGE */

@media (min-width: 1200px) {
  #content-text{
      font-size :25px
    }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  #content-text{
      font-size :23px
    }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #content-text{
      font-size :21px
    }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  #content-text{
      font-size :19px
    }
}




    




/********** Extra small devices only **********/
/*/
